Version 0.7

In this version, Authlib will focus on JWT enhancement. There are also deprecated APIs which should be removed in this version.

## RFC

1. [x] RFC7515, implement full featured JWS
3. [x] RFC7523, JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants

## Integrations

- [x] RFC7521 AssertionSession
- [x] RFC7523 for AssertionSession
- [x] Flask server for RFC7521

## Others

- [x] crypto backend preparation
- [x] loginpass v0.1

For the record: Google is using `urn:ietf:params:oauth:grant-type:jwt-bearer` for server account.