Possible Bug in RefreshTokenGrant: public clients always raise UnauthorizedClientError

According to Section 6 of RFC-6749 there is no special requirement that clients must be confidential to use the refresh_token type grant. See [line 40 in RefreshTokenGrant](https://github.com/lepture/authlib/blob/master/authlib/oauth2/rfc6749/grants/refresh_token.py#L40-L41) where there's an extra check for confidential clients:
```python
class RefreshTokenGrant(BaseGrant):

    def _validate_request_client(self):
        # require client authentication for confidential clients or for any
        # client that was issued client credentials (or with other
        # authentication requirements)
        client = self.authenticate_token_endpoint_client()
        log.debug('Validate token request of %r', client)

        if not client.check_client_type('confidential'):
            raise UnauthorizedClientError()

        if not client.check_grant_type(self.GRANT_TYPE):
            raise UnauthorizedClientError()

        return client
```

Unless I'm misunderstanding something, this is a bug. If someone can confirm I'll make a PR to fix.

```
        # require client authentication for confidential clients or for any
        # client that was issued client credentials (or with other
        # authentication requirements)
```

Here, we need confidential client to exchange an access token.

Via https://tools.ietf.org/html/rfc6749#section-2.1

```
   confidential
      Clients capable of maintaining the confidentiality of their
      credentials (e.g., client implemented on a secure server with
      restricted access to the client credentials), or capable of secure
      client authentication using other means.

   public
      Clients incapable of maintaining the confidentiality of their
      credentials (e.g., clients executing on the device used by the
      resource owner, such as an installed native application or a web
      browser-based application), and incapable of secure client
      authentication via any other means.
```

> require client authentication for confidential clients or for any
> client that was issued client credentials (or with other
> authentication requirements)

That is correct, **confidential** clients have the requirement that they be authenticated by appropriate mechanisms. _However_, public clients do not have that requirement. This endpoint uses the same rules for client authentication as the other token endpoints, there is no extra requirement that the client be confidential to use the refresh token grant type.

fixed.