OAuth2 server: `invalid_client` error returned for authorization code request, not documented in RFC 6749, section 4.1.2.1

**Describe the "bug"**

The authorization code grant error response will contain `invalid_grant` in the `error` field, if an invalid client is used.

This is indeed intuitive, but is not documented in RFC6749, section 4.1.2.1:

https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.2.1

The list of valid `error` values, in the RFC, are:

- invalid_request
- unauthorized_client
- access_denied
- unsupported_response_type
- invalid_scope
- server_error
- temporarily_unavailable

This is done in [`validate_code_authorization_request`](https://github.com/authlib/authlib/blob/v1.6.1/authlib/oauth2/rfc6749/grants/authorization_code.py#L355). 

☝🏻 Note that `invalid_client` is indeed one of the documented errors for the token route! Section [5.2](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2) of the same RFC.

**To Reproduce**

A minimal example to reproduce the behavior:

Based on the [documentation](https://docs.authlib.org/en/latest/django/2/authorization-server.html#server):

```python
        try:
            grant = server.get_consent_grant(request, end_user=request.user)
        except OAuth2Error as error:
            result = server.handle_error_response(request, error)
            return result
```

Call the route with a client not recognized by your server:
```
curl --location 'http://myserver/v1/oauth2/authorize/someuserid?response_type=code&client_id=totalybogus&code_challenge=rgw5CZck78w8i9KtMWLRt7hwPTAeXghvXo602q8y9FY&code_challenge_method=S256&redirect_uri=https://myserver/%3A%2F%2Foauth22'
```

The result content is:
```json
{
  "error":"invalid_client",
  "error_description":"The client does not exist on this server."
}
```

**Expected behavior**

Not really sure! 😅 

**Environment:**

 - OS: Ubuntu 24.04
 - Python Version: 3.10
 - Authlib Version: 1.6.0

**Additional context**

If this is expected behavior, could you perhaps add a note in the documentation somewhere about it? Thanks! 🙏🏻 
