JWK kid is optional, should not throw exception if kid is missing

**Describe the bug**

According to [RFC7517](https://tools.ietf.org/html/rfc7517#section-4.5), kid is a OPTIONAL parameter. authlib.jose.rfc7517.loads (and possibly other functions) should not completely rely on kid to look up for a key. The corresponding [RFC7515](https://tools.ietf.org/html/rfc7515#section-4.1.4) also mentions that kid is OPTIONAL.

[RFC2119](https://tools.ietf.org/html/rfc2119) defines OPTIONAL as:

> MAY   This word, or the adjective "OPTIONAL", mean that an item is truly optional.  One vendor may choose to include the item because a particular marketplace requires it or because the vendor feels that it enhances the product while another vendor may omit the same item. An implementation which does not include a particular option MUST be prepared to interoperate with another implementation which does include the option, though perhaps with reduced functionality.


**Error Stacks**

```
Traceback (most recent call last):
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/integrations/base_client/remote_app.py", line 162, in load_key
    return jwk.loads(jwk_set, header.get('kid'))
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/jose/rfc7517/jwk.py", line 78, in loads
    raise ValueError('Invalid JSON Web Key')
ValueError: Invalid JSON Web Key

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/werkzeug/serving.py", line 323, in run_wsgi
    execute(self.server.app)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/werkzeug/serving.py", line 312, in execute
    application_iter = app(environ, start_response)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 2464, in __call__
    return self.wsgi_app(environ, start_response)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 2450, in wsgi_app
    response = self.handle_exception(e)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 1867, in handle_exception
    reraise(exc_type, exc_value, tb)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/_compat.py", line 39, in reraise
    raise value
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/_compat.py", line 39, in reraise
    raise value
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/flask/app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "oidcdemo/oidcdemo.py", line 43, in authorize
    user = oauth.oidcdemo.parse_id_token(token)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/integrations/flask_client/remote_app.py", line 81, in parse_id_token
    return self._parse_id_token(flask_req, token, claims_options)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/integrations/base_client/remote_app.py", line 192, in _parse_id_token
    claims_params=claims_params,
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/jose/rfc7519/jwt.py", line 121, in decode
    data = self._jws.deserialize_compact(s, key_func, decode_payload)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/jose/rfc7515/jws.py", line 115, in deserialize_compact
    self._algorithms, jws_header, payload, key)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/jose/util.py", line 8, in prepare_algorithm_key
    key = key(header, payload)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/jose/jwk.py", line 27, in key_func
    return load_key(key, header, payload)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/jose/jwk.py", line 21, in load_key
    key = key(header, payload)
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/integrations/base_client/remote_app.py", line 166, in load_key
    return jwk.loads(jwk_set, header.get('kid'))
  File "oidcdemo/virtualenv/lib/python3.6/site-packages/authlib/jose/rfc7517/jwk.py", line 78, in loads
    raise ValueError('Invalid JSON Web Key')
```


**To Reproduce**

a JWK set which the key inside is without kid

**Expected behavior**

No exception at least for the case when there is only one key in JWK set. More descriptive exception message is also recommended.

```
header.get('kid')
```

This is optional. Please leave your real example to reproduce your problem.

I think it is very easy to replicate. Attach my flask code and private key to replicate the problem (No need to worry, this private key is specifically generated for debug.)

[oidcdemo.zip](https://github.com/lepture/authlib/files/4549337/oidcdemo.zip)
[keystore.txt](https://github.com/lepture/authlib/files/4549341/keystore.txt)


And the primary problem is in authlib/jose/rfc7517/jwk.py line 78 as shown in stack trace.

```
    def loads(self, obj, kid=None):
        """Loads JSON Web Key object into a public/private key.

        :param obj: A JWK (or JWK set) format dict
        :param kid: kid of a JWK set
        :return: key
        """
        if 'kty' in obj:
            if kid and 'kid' in obj and kid != obj['kid']:
                raise ValueError('Invalid JSON Web Key')
            return self._load_obj(obj)

        if not kid: <----- problem here
            raise ValueError('Invalid JSON Web Key')
```

In this actual example, since server returns a **jwk set** and kid is `None` (therefore it matches `if not kid`), it throws exception.

A similar error gets thrown on this line as https://github.com/lepture/authlib/blob/v0.15.3/authlib/jose/rfc7517/models.py#L156
Should that be updated too ?