JWT claim validation incorrectly throws an error for non-integer NumericDate fields

**Describe the bug**

`JWTClaims.validate()` throws an `InvalidClaimError` if either `iat`, `nbf` or `exp` (or any `NumericDate` field) do not result in integer values once decoded. This is contrary to the JWT specification, which states that noninteger values are allowed (see "Expected behavior").

**Error Stacks**
```
Traceback (most recent call last):
  File "test_jwt.py", line 14, in <module>
    claims.validate()
  File .pyenv\lib\site-packages\authlib\jose\rfc7519\claims.py", line 100, in validate
    self.validate_iat(now, leeway)
  File ".pyenv\lib\site-packages\authlib\jose\rfc7519\claims.py", line 198, in validate_iat
    raise InvalidClaimError('iat')
authlib.jose.errors.InvalidClaimError: invalid_claim: Invalid claim "iat"
```

**To Reproduce**

```py
from datetime import datetime
from authlib.jose import jwt

with open('jwt-key') as key_file:
	private_key = key_file.read()

with open('jwt-key.pub') as key_file:
	public_key = key_file.read()

token_data = {'iat': datetime.utcnow().timestamp()} # timestamp() returns a float
token = jwt.encode({'alg': 'RS256'}, token_data, private_key).decode('ascii')

claims = jwt.decode(token, public_key)
claims.validate()
```

**Expected behavior**
The `iat` value used above (a float) should be considered valid, as per the spec.

From [RFC 7519, section 2](https://tools.ietf.org/html/rfc7519#section-2) (emphasis mine):
> NumericDate
> [...]
> This is equivalent to the IEEE Std 1003.1,
> 2013 Edition [POSIX.1] definition "Seconds Since the Epoch", [...],
> **other than that non-integer values can be represented**.

That last part is important since the "Seconds Since the Epoch" definition from the [POSIX spec (section 4.16)](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap04.html#tag_04_16) gives a specific C expression to use where all terms are said to be integer, meaning the resulting value can only be an integer amount of seconds, and RFC 7519 explicitly add the exception that non-integer JSON numbers should be allowed.

**Environment:**

 - OS: Windows 10
 - Python Version: 3.8.0
 - Authlib Version: 0.14.3


Thanks for your report. I've added `float` for numeric date validation.