New Plan for Version 0.6

Plan changed. Original plan was adding Django integration #24.

Django integration will be delayed. Version 0.6 will focus on JOSE stuffs. The JOSE RFCs are required for many other OAuth 2 related RFCs, including Dynamic Client Registration Protocol, Assertion Framework, Open ID Connect and so on.

In version 0.6, I would like to add these features:

- [x] RFC7515: JSON Web Signature (JWS)
- [x] RFC7517: JSON Web Key (JWK)
- [x] RFC7518: JSON Web Algorithms (JWA)
   - [x] JWS
   - [x] JWK
- [x] RFC7519: JSON Web Token (JWT)

They will not be full featured, but they would work for the most cases. With these specs added, I'll add a simple OpenID Connect server:

- [x] Code Flow
- [x] Implicit Flow
- [x] Hybrid Flow