Requesting empty scope removes scope from response

When this [request is made](https://httpie.org/doc#forms):

    http -a client:secret -f :/auth/token grant_type=client_credentials scope=

I get response, without `scope` even if it was given in request.

Code responsible for this is here:

https://github.com/lepture/authlib/blob/master/authlib/oauth2/rfc6750/wrappers.py#L98-L99

Is this a bug? I would expect `scope` present in response since it was given in request, even if given scope was empty string.

I'm not sure this is a bug. [From RFC6749, Section 3.2](https://tools.ietf.org/html/rfc6749#section-3.2)

> Parameters sent without a value MUST be treated as if they were omitted from the request.

It seems like that's what Authlib is doing?

This is not a bug.