Version 0.8

In this version, it will focus on Django OAuth 1 and OAuth 2 servers/providers. Authlib itself won't be a Django app, it can only provide the same level integration as Flask. There would be another repo to make a Django app in the long run.

Tasks that should be done in this version:

- [x] Django OAuth 1 server
- [ ] Django OAuth 2 server with Bearer Token / 4 grant types / refresh token / revoke token
- [x] Test cases
- [x] Documentation

Plan changed.

Django integration will be delayed. Version 0.6 will focus on JOSE stuffs. The JOSE RFCs are required for many other OAuth 2 related RFCs, including Dynamic Client Registration Protocol, Assertion Framework, Open ID Connect and so on.

In version 0.6, I would like to add these features:

- [ ] RFC7515: JSON Web Signature (JWS)
- [ ] RFC7517: JSON Web Key (JWK)
- [ ] RFC7518: JSON Web Algorithms (JWA)
   - [ ] JWS
   - [ ] JWK
- [ ] RFC7519: JSON Web Token (JWT)

They will not be full featured, but they would work for the most cases. With these specs added, I'll add a simple OpenID Connect server:

- [ ] Code Flow
- [ ] Implicit Flow
- [ ] Hybrid Flow

Hey @lepture,

Just wondered if you'd make official PyPi releases of 0.6 and 0.8? I think we can only reference 0.5.1 for now and it lacks some good stuff you have been adding.

Thank you!

@Lawouach version 0.6 is on schedule. It will be released in this week. Stay tuned with Authlib twitter account.

OAuth 1.0 is ready for Django. OAuth 2.0 will be delayed.