Allow other redirect methods than 302 in OAuth 2.0 flow

**Is your feature request related to a problem? Please describe.**

When writing an Angular Front-End for an Authlib Oauth 2.0 backend, it [cannot handle](https://stackoverflow.com/questions/52290377/angular-how-to-handle-redirect) the `302` redirects.

**Describe the solution you'd like**

Allow other redirect methods, such as `401` and `403` as per [RFC 6749](https://tools.ietf.org/html/rfc6749#section-1.7) as mentioned [here](https://stackoverflow.com/a/52290824/3515670).

**Describe alternatives you've considered**

Hacking this into Angular is more work, than changing the OAuth backend library from authlib to another implementation.

**Additional context**

N/A


How is this use case working? How it related to Angular?

The problem is that `authlib.integrations.flask_oauth2.AuthorizationServer`'s `create_authorization_response()` method always returns `302` on success. Angular cannot handle this, since 302 status codes are not interceptable. Thusly I need to indicate the redirect with another status code, as RFC 6749 section 1.7 allows.
My current workaround/hack is to subclass `AuthorizationServer` and allow the client to choose the redirect status code via a URL parameter.

```

class AuthorizationServer(AuthorizationServer):     # pylint: disable=E0102
    """Subclass of the original flask authorization server."""

    def create_authorization_response(self, *args, **kwargs) -> Response:
        """Enhanced authorization response generation."""
        response = super().create_authorization_response(*args, **kwargs)
        response.status_code = get_int('redirect_status_code', 302)
        return response
```