Version 0.10

In this version, Authlib will focus on improving API design and RFC implementations.

## API

1. [x] Make Grant extensible
2. [x] CodeChallenge Extension
3. [x] OpenID Extension

## RFC

1. [ ] RFC7516, implement full featured JWE
2. [x] OpenID Connect Discovery 1.0. Check #77
3. [ ] RFC7797 JSON Web Signature (JWS) Unencoded Payload Option
4. [x] RFC8414

## Integrations

Take a look and think about Django integrations.

## Documentation

Rethink (rewrite) about documentation, its folder structure, connections between each specs.