Features Checklist

Authlib features and their statuses.

## Client

- [x] OAuth1Session, compatible with requests-oauthlib
- [x] OAuth2Session, compatible with requests-oauthlib
- [x] OAuthClient, a mixed client for OAuth 1 and OAuth 2
- [x] Flask integration
- [x] Django integration
- [x] OpenID Connect `id_token` parsing

## Server

- [x] Flask OAuth 1 provider
- [x] Flask OAuth 2 provider
- [x] Django OAuth 1 provider
- [ ] Django OAuth 2 provider
- [x] Flask OpenID integration
- [ ] Django OpenID integration

## Specifications

- [ ] RFC4226
- [x] RFC5849
- [ ] RFC6238
- [x] RFC6749
- [x] RFC6750
- [x] RFC7009
- [x] RFC7515, JSON Web Signature
- [x] RFC7516, JSON Web Encryption
- [x] RFC7517, JSON Web Key
- [x] RFC7518, JSON Web Algorithms
- [x] RFC7519, JSON Web Token
- [x] RFC7521
- [ ] RFC7522
- [x] RFC7523
- [ ] RFC7591
- [ ] RFC7592
- [x] RFC7636
- [x] RFC7662
- [ ] RFC7797

If you're going to implement the various JSON standards, maybe you'd like to add it to [itsdangerous](https://github.com/pallets/itsdangerous) and depend on that? There have been a number of requests for it, we only have JWS right now.

@davidism It can be quite complex, especially for PEM JWK supports. Currently, itsdangerous is a  single file, it is quite simple. Is there any plan to support all those things?

Authlib depends on PyJWT currently. My plan is to create a monolithic library so that I can take everything into control. But if there is a plan for itsdangerous to do such thing, I'm happy to implement that in itsdangerous.

Yeah, I think @mitsuhiko expressed interest in supporting that. I actually wanted to restructure it as a package anyway, so moving the JSON stuff to a `json` sub-package is fine.

Or, uh, maybe he said the exact opposite? https://github.com/pallets/itsdangerous/issues/54

Currently there's just confusion because we impolement JWS with a time extension which looks sort of like JWT. https://github.com/pallets/itsdangerous/issues/73

I'm not really sure which way we should actually go. Sorry, I initially saw this and thought of itsdangerous, but now that I think about it I'm not sure if keeping itsdangerous simple is better.

@davidism having had to many security issues with JWT and friends I do not longer recommend people to use it. Hoping someone makes something better.

Server integration with an async web engine such as aiohttp would be great.

Please consider implementing the **User-Managed Access (UMA) 2.0** layer. 